.je-field, .je-array, .je-object, .je-object-fields, .je-array-actions, .je-array-items{
 width: 99%;
 margin: 0.25%;
 padding: 0.25% !important;
 display: table;
}

.je-field label{
 float: left;
 width: 45%;
}

.je-field.je-required>label{
 font-weight: bold;
}

.je-field>input, .je-field>select{
 float: right;
 width: 50%;
}

.je-array-actions{
 display: table;
 text-align: center;
}

.je-array-items{
 display: table;
}

.je-array-item{
 display: table;
 width: 100%;
}

.je-array-item-input{
 float: left !important;
 margin-left: 25%;
 width: 50%;
}

.je-array-item-actions{
 float: right;
}

.je-array-actions button{
 margin-left: 2em;
}

a.je-action{
 text-decoration: none;
}

.je-object-fields{
 border: 1px solid #eee;
 display: table;
}

.je-additional-propname{
 width: 45% !important;
 float: left !important;
}

.je-add-additional-property{
 width: 100%;
 text-align: right;
 display: table;
}
