.summary-list, .summary-item{
 width: 100%;
 margin: 1em 0;
 padding: 0;
 display: table;
}

.summary-buttons{
 float: right;
}

.summary-text{
 float: left;
}

.summary-edit-buttons{
 width: 100%;
 text-align: center;
 margin: 1em 0;
}

.summary-edit-buttons button{
 margin-right: 1em;
}

.summarylist-working-image{
 margin: 4em;
 margin-left: 49%;
}
